%nav.navbar.navbar-default{role: "navigation"}
  / Brand and toggle get grouped for better mobile display
  %div.navbar-header
    %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", type: "button"}
      %span.sr-only Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    %a.navbar-brand{href: "/"} ImageBoard!
  / Collect the nav links, forms, and other content for toggling
  %div.collapse.navbar-collapse{id: "navbar-ex1-collapse"}
    %ul.nav.navbar-nav  
      -if login?
        %li
          %a{href: "/current_user_profile"} My profile        
        %li
          %a{href: "/users"} User list
        %li
          %a{href: "/upload"} 
            %strong Upload image!