%div.container
	%div.page-header
		%h1 
			Users

	.span7
		%table.table.table-striped.table-bordered
			%th User
			%th Uploads
			//%th Favs
			-@users.each do |user|
				%tr
					%td 
						%a{:href => "/users/#{user.id}", :title => "Profile"} 
							="#{user.name}"
					%td  
						="#{user.images.count}"
					//%td
					//	="#{favs_received(user)}"